* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(173, 216, 231);
}

.header-top > .container {
  background-color: rgb(218 165 30);
  margin: 10px 150px 10px 150px;
  display: flex;
  justify-content: space-between;
}

.header-top > .container > .logo {
  width: 20%;
  border: 2px dashed black;
  padding: 6px;
}

.header-top > .container > .link {
  width: 60%;
  border: 2px dashed black;
  padding: 6px;
  display: flex;
  justify-content: center;
}

.header-top > .container > .login {
  width: 20%;
  border: 2px dashed black;
  padding: 6px;
  display: flex;
  justify-content: flex-end;
}

.container-due {
  background-color: rgb(0, 1, 139);
  padding: 30px 250px 30px 250px;
}

.container-due > .box-uno {
  justify-content: center;
  align-items: center;
  background-color: rgb(239 130 237);
  padding: 130px 50px 130px 50px;
}
